.who {
    min-height: 80vh;
    display: flex;
    // align-items: center;
    justify-content: space-between;
    background: #f1f5f5;
    // padding: 5rem;
    margin: auto;
    li {
        list-style: none;
        text-decoration: overline;
        // background: linear-gradient(rgba(57, 27, 92, 0.301), rgba(33, 85, 92, 0.685));
        width: fit-content;
    }


    h2 {
        display: flex;
        font-family: 'Odibee Sans', cursive;
        font-weight: lighter;
        color: #3058c7;
        padding-left: 10%;
        padding-top: 5rem;
        // padding-top: 5rem;
    }

    .content {
        display: flex;
        flex: 1;
        align-items: center;
        // justify-content: center;
        max-width: 55rem;
        margin-top: 10rem;

                h1, h3, h4 {
            margin-top: 3rem;
        }

        h4 {
            font-size: 2.5rem;
        }

        p {
            margin: 1.7rem;
            font-size: 1.7rem;
            line-height: 1.7em;
            letter-spacing: -0.02em;
        }
    }

    .persona {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }
}